.winning{
display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.container{
  display:grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 600px;
  height:600px;
  }
  .h1{
    text-align: center;
    text-decoration:underline;
    
  }
.box{
  background-color: darkgrey;
  height: 180px;
  width: 180px;
  font-weight: normal;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9px;
  }
.box:hover{
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: container-anime;
  }

@keyframes container-anime {
  100% {
    background-color: darkorange;
    box-shadow: 5px 5px 15px grey, -5px -5px 15px grey;
  }
}