.winning{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.container{
  display:grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 500px;
  height:500px;
  }

.h1{
  text-align: center;
  text-decoration:underline;
}

.text-holder{
  color: grey;
  text-align: center;
  background-color: rgb(255, 223, 80);
  padding: 30px;
  box-shadow: 5px 5px 15px grey, -5px -5px 15px grey;
}

.box{
  background-color: coral;
  height: 150px;
  width: 150px;
  font-weight: normal;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9px;
  }

.box:hover{
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: container-anime;
  }


@keyframes container-anime {
  100% {
    background-color:rgb(255, 223, 80);
    box-shadow: 5px 5px 15px grey, -5px -5px 15px grey;
  }
}

.title{
  font-size: 50px;
  font-weight: bold;
  color: white;
}