.background{
  display:flex;
  justify-content:center;
  align-content:center;
  height: 60vh;
  width: 100vw;
  margin-top:25px;
}


.login{
  // background-color: cornflowerblue;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  .h1{
    text-align: center;
  }
  .form{
  display:flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align:center;

  .submit{
    padding: 100px;
    text-align: center;
  }
}