
<div class = "container">
  <div class="box">x</div>
  <div class="box">x</div>
  <div class="box">x</div>
  <div class="box">x</div>
  <div class="box">x</div>
  <div class="box">x</div>
  <div class="box">x</div>
  <div class="box">x</div>
  <div class="box">x</div>
</div>