// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
  .result{
    text-align: center;
    display:block;
    justify-content: center;
    align-content:center;
    font-size: 30px;
    text-decoration: none;
  }

  .result a {
    text-decoration: none;
    color: coral;   
    font-weight: bold;
    display: block;
  }

  .result:hover {
    animation: result-anime 1s ease-in-out infinite alternate;
  }
  
  @keyframes result-anime {
    0% {
    
    }
    100% {
      transform: scale(1.5)
    }
  }

  .page-style{
    background-color: blue;
  }

 